


.logo {
  height: 111px;
  width: 300px;

  position: absolute;
  width: 300px;
  height: 111px;
  left: 114px;
  top: 18px;
}

.first {
  position: absolute;
  height: 12px;
  left: 603px;

  top: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.145454px;

  color: #010101;
}
.second {
  position: absolute;
  height: 12px;
  left: 699px;

  top: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.145454px;

  color: #010101;
}
.third {
  position: absolute;
  height: 24px;
  left: 817px;

  top: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.145454px;

  color: #010101;
}
.fourth {
  position: absolute;
  height: 12px;
  left: 940px;

  top: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.145454px;

  color: #010101;
}

.letstalk {
  position: absolute;
  display: grid;
  place-content: center;
  float: right;

  width: 142px;
  height: 49px;
  top: 49px;
  left: 1155px;

  border: 0px;
  background-color: rgb(36, 140, 220);
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 39px;

  text-align: center;
  letter-spacing: 0.01em;

  background: linear-gradient(90deg, #00b0c6 -13.32%, #356af3 105.84%);
  border-radius: 13px;
}
